<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Premier</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">

</head>

<body>
    <div class="popup">
        <p> <b>¡CUIDADO!</b> El tipo y número de documento ya existen en el sistema. ¿Desea continuar o corregir los datos? </p>
        <div class="popup-buttons">
            <a href="http://localhost:8080/huesped/alta">
                <button class="btn-popup no">Corregir</button>
            </a>
            <form action="http://localhost:8080/huesped/forzarCreacion" method="POST">
                <button type="submit" class="btn-popup si">Continuar</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/script.js}"></script>

</body>

</html>


<!--<div class="botones">-->
<!--    <button class="no" id="noBtn">Corregir</button>-->
<!--    <button class="si" id="siBtn">Aceptar igualmente</button>-->
<!--</div>-->