<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Preymer - Dar Alta de Huésped</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
    <h1>Dar Alta de Huésped</h1>

    <p class="instrucciones">
        Complete los datos del nuevo huésped. Los campos marcados con * son obligatorios.
    </p>

    <form th:action="@{/huesped}" th:object="${huesped}" method="post">

        <fieldset>
            <legend>Datos del Nuevo Huésped</legend>

            <div class="form-group">
                <label for="nombre">Nombre: *</label>
                <input type="text"
                       id="nombre"
                       name="nombre"
                       th:field="*{nombre}"
                       placeholder="escriba un nombre aquí"
                       required>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido: *</label>
                <input type="text"
                       id="apellido"
                       name="apellido"
                       th:field="*{apellido}"
                       placeholder="escriba un apellido aquí"
                       required>
            </div>

            <div class="form-group">
                <label for="documento">Documento: *</label>
                <div class="group">
                    <input type="text"
                           id="documento"
                           name="documento"
                           th:field="*{docIdentidad}"
                           placeholder="escriba un documento aquí"
                           required>
                    <select id="tipoDocumento"
                            name="tipoDocumento"
                            th:field="*{tipoDoc}">
                        <option value=DNI>DNI</option>
                        <option value=LE>LE</option>
                        <option value=LC>LC</option>
                        <option value=PASAPORTE>Pasaporte</option>
                        <option value=OTRO>Otro</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="fechaNacimiento">Fecha de nacimiento: *</label>
                <input type="date"
                       id="fechaNacimiento"
                       name="fechaNacimiento"
                       th:field="*{fechaNacimiento}"
                       required>
            </div>

<!--            <div class="form-group">-->
<!--                <label for="nacionalidad">Nacionalidad: *</label>-->
<!--                <select id="nacionalidad" name="nacionalidad" th:field="*{nacionalidad}">-->
<!--                        <option value="">Seleccione una nacionalidad</option>-->
<!--                        <option th:each="nac : ${nacionalidades}"-->
<!--                            th:value="${nac}"-->
<!--                            th:text="${nac}">-->
<!--                        </option>-->
<!--                </select>-->
<!--            </div>-->
        
<!--            <div class="form-group">-->
<!--                <label for="CUIT">CUIT: </label>-->
<!--                <input type="text"-->
<!--                       id="CUIT"-->
<!--                       name="CUIT"-->
<!--                       th:field="*{CUIT}"-->
<!--                       placeholder="escriba un CUIT aquí">-->
<!--            </div>-->

            <div class="form-group">
                <label for="documento">Posición frente al IVA: *</label>
                <div class="group">
                    <select id="posIva"
                            name="posIva"
                            th:field="*{posIva}">
                        <option value="consumidorFinal">Consumidor Final</option>
                        <option value="responsableInscripto">Responsable Inscripto</option>
                        <option value="monotributista">Monotributista</option>
                        <option value="excentoEnIva">Excento en IVA</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="ocupacion">Ocupacion: *</label>
                <input type="text"
                       id="ocupacion"
                       name="ocupacion"
                       th:field="*{ocupacion}"
                       placeholder="escriba una ocupación aquí"
                       required>
            </div>

            <div class="form-group">
                <label for="ocupacion">Dirección:</label>
            </div>

            <div class="form-group">
                <label for="calle">Calle: *</label>
                <input type="text"
                       id="calle"
                       name="calle"
                       th:field="*{mediosDeContacto.domicilio}"
                       placeholder="escriba una calle"
                       required>
            </div>

<!--            <div class="form-group">-->
<!--                <label for="numero">Número: *</label>-->
<!--                <input type="text"-->
<!--                       id="numero"-->
<!--                       name="numero"-->
<!--                       th:field="*{numero}"-->
<!--                       placeholder="escriba un número"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="piso">Piso: </label>-->
<!--                <input type="text"-->
<!--                       id="piso"-->
<!--                       name="piso"-->
<!--                       th:field="*{piso}"-->
<!--                       placeholder="escriba un número">-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="departamento">Departamento: </label>-->
<!--                <input type="text"-->
<!--                       id="departamento"-->
<!--                       name="departamento"-->
<!--                       th:field="*{departamento}"-->
<!--                       placeholder="escriba un departamento">-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="codigoPostal">Código postal: *</label>-->
<!--                <input type="text"-->
<!--                       id="codigoPostal"-->
<!--                       name="codigoPostal"-->
<!--                       th:field="*{codigoPostal}"-->
<!--                       placeholder="escriba un código postal"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="localidad">Localidad: *</label>-->
<!--                <input type="text"-->
<!--                       id="localidad"-->
<!--                       name="localidad"-->
<!--                       th:field="*{localidad-->
<!--                       placeholder="escriba una localidad"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="provincia">Provincia: *</label>-->
<!--                <input type="text"-->
<!--                       id="provincia"-->
<!--                       name="provincia"-->
<!--                       th:field="*{provincia}"-->
<!--                       placeholder="escriba una provincia"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="pais">País: *</label>-->
<!--                <select id="pais" name="pais" th:field="*{pais}">-->
<!--                        <option value="">Seleccione un país</option>-->
<!--                        <option th:each="nac : ${nacionalidades}"-->
<!--                            th:value="${nac}"-->
<!--                            th:text="${nac}">-->
<!--                        </option>-->
<!--                </select>-->
<!--            </div>-->

            <div class="form-group">
                <label for="telefono">Teléfono: *</label>
                <input type="text"
                       id="telefono"
                       name="telefono"
                       th:field="*{mediosDeContacto.telefono}"
                       placeholder="escriba un telefono"
                       required>
            </div>

            
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email"
                       id="email"
                       name="email"
                       th:field="*{mediosDeContacto.correo}"
                       placeholder="escriba un email">
            </div>

            <button type="submit"> Siguiente </button>

        </fieldset>

        
        <div class="botones">
            <button type="button" onclick="window.history.back()">Cancelar</button>
        </div>

    </form>

    <script th:src="@{/js/script.js}"></script>

</body>

</html>