<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Premier</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" type="image/svg+xml" href="/img/hotel_premier_logo.svg">

</head>

<body>
    <h1>Bienvenido a Hotel Premier</h1>
    <img th:src="@{/img/hotel_premier_logo.svg}" alt="Imagen del Hotel" class="imagen-hotel">


        <a href="http://localhost:8080/huesped/alta">
            <button class="btn-altaHuesped">Dar de Alta un Huésped</button>
        </a>

    

    
</html>